@charset "UTF-8";

/*
GENERAL STYLING
================================================ */
html {
    font-size: 100%;
}
body {
	color: rgb(0, 0, 0);
	font-family: 'Sawarabi Mincho', serif;
}

/*
COMMON
================================================ */
.title {
    font-family: 'Sawarabi Mincho', serif;
    font-size: 6rem;
    margin-bottom: 3rem;
}
p {
    line-height: 1.7;
    font-size: 1.5rem;
}

.container {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}
section {
    height: 100vh;
    scroll-snap-align: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*
HERO
================================================ */
.hero {
    background-image: url(../images/Time1.jpg);
    text-align: center;
    padding-top: 10vh;
}

/*
MAIN
================================================ */
.main {
    background-image: url(../images/Board1.jpg);
    display: flex;
    align-items: center;
}
.wrapper {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.main-btn {
    background: rgb(63, 106, 72);
    border-radius: 16px;
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 3.5rem;
    display: inline-block;
    margin: 2rem 0 2.25rem;
}
.main-btn:hover {
    background: rgb(40, 67, 45);
}
.main span {
    color: rgb(88, 163, 104);
    font-size: 2rem;
	font-family: 'Sawarabi Mincho', serif;
}

/*
Timer
================================================ */
.timer-btn {
    background: rgb(63, 106, 72);
    border-radius: 16px;
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 3.5rem;
    display: inline-block;
    margin: 2rem 0 2.25rem;
}
.timer-btn:hover {
    background: rgb(40, 67, 45);
}

/*
MOBILE SIZE
================================================ */
@media (max-width: 700px) {
    .title {
        font-size: 4rem;
    }
    p {
        padding: 0 1rem;
    }
    p,
    .main {
        font-size: 1rem;
    }
    .hero {
        padding-top: 12vh;
    }
}
